/*******************************************************************************
 * style.scss
 *
 * This file shouldn't directly contain any SCSS code, instead it only serves to
 * combine the SCSS contained in other Sass partials through @import directives.
 *
 * BASE............Styling for common HTML and Drupal elements.
 * LAYOUT..........Styles for the page structure that contain components.
 * COMPONENTS......Components, their modifiers and sub-components.
 ******************************************************************************/
/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
/*******************
	Define Colours
********************/
/*******************
	Define Fonts
********************/
/* font-face */
@font-face {
  font-family: 'HelveticaRegular';
  src: url("../fonts/helvetica-webfont.eot");
  src: url("../fonts/helvetica-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica-webfont.woff") format("woff"), url("../fonts/helvetica-webfont.ttf") format("truetype"), url("../fonts/helvetica-webfont.svg#HelveticaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaLightRegular';
  src: url("../fonts/helvetica-light-webfont.eot");
  src: url("../fonts/helvetica-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica-light-webfont.woff") format("woff"), url("../fonts/helvetica-light-webfont.ttf") format("truetype"), url("../fonts/helvetica-light-webfont.svg#HelveticaLightRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLightCondRegular';
  src: url("../fonts/helveticaneue-lightcond-webfont.eot");
  src: url("../fonts/helveticaneue-lightcond-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-lightcond-webfont.woff") format("woff"), url("../fonts/helveticaneue-lightcond-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-lightcond-webfont.svg#HelveticaNeueLightCondRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url("../fonts/18925_helveticaneuelt-webfont.eot");
  src: url("../fonts/18925_helveticaneuelt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/18925_helveticaneuelt-webfont.woff") format("woff"), url("../fonts/18925_helveticaneuelt-webfont.ttf") format("truetype"), url("../fonts/18925_helveticaneuelt-webfont.svg#HelveticaNeueLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueRegular';
  src: url("../fonts/18921_helveticaneue-webfont.eot");
  src: url("../fonts/18921_helveticaneue-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/18921_helveticaneue-webfont.woff") format("woff"), url("../fonts/18921_helveticaneue-webfont.ttf") format("truetype"), url("../fonts/18921_helveticaneue-webfont.svg#HelveticaNeueRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueItalic';
  src: url("../fonts/18924_helveticaneueit-webfont.eot");
  src: url("../fonts/18924_helveticaneueit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/18924_helveticaneueit-webfont.woff") format("woff"), url("../fonts/18924_helveticaneueit-webfont.ttf") format("truetype"), url("../fonts/18924_helveticaneueit-webfont.svg#HelveticaNeueItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCondensedRegular';
  src: url("../fonts/helveticaneue-condensed-webfont.eot");
  src: url("../fonts/helveticaneue-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-condensed-webfont.woff") format("woff"), url("../fonts/helveticaneue-condensed-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-condensed-webfont.svg#HelveticaNeueCondensedRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueThinCondRegular';
  src: url("../fonts/helveticaneue-thincond-webfont.eot");
  src: url("../fonts/helveticaneue-thincond-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-thincond-webfont.woff") format("woff"), url("../fonts/helveticaneue-thincond-webfont.ttf") format("truetype"), url("../fonts/helveticaneue-thincond-webfont.svg#HelveticaNeueThinCondRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*******************************************************************************
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000315}}
body {
  background: url("../images/bg-page.gif");
  padding: 0;
  margin: 0;
  color: #444444;
  font: 0.9em HelveticaLightRegular, Arial, Helvetica, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000322}}
p {
  line-height: 1.7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000325}}
h1 {
  margin-top: 0;
  padding-top: 0.5em;
  font: 200% HelveticaNeueThinCondRegular, Arial, Helvetica, sans-serif normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000330}}
h2 {
  font: 150% HelveticaNeueThinCondRegular, Arial, Helvetica, sans-serif;
  margin: 0 0 13px;
  color: #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000335}}
h3 {
  font-size: 120%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000338}}
h4 {
  font-size: 110%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000341}}
h5 {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000344}}
h6 {
  font-size: 90%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000347}}
a {
  color: #76a326;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000349}}
a:hover {
  color: #0a3d29;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000353}}
li {
  padding: 0.3em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000356}}
.links--inline li {
  padding: 0;
}

/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
/******************************************
	Header & Menu
*******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000312}}
.l-header-wrapper {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000314}}
.l-header-wrapper .leaf {
  padding: 0.5em 0;
  text-align: center;
}

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000320}}
  .l-header-wrapper {
    text-align: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000322}}
  .l-header-wrapper .leaf {
    display: inline-block;
    padding: 0 0 0 1.4em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000327}}
  .l-region--header {
    text-align: right;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000329}}
  .l-region--header .menu {
    text-align: right;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000333}}
  .l-content {
    min-height: 480px;
    max-width: 920px !important;
  }
}
/* Fix menu to the top */
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000341}}
  .not-logged-in .l-header-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000347}}
  .not-logged-in .l-main {
    padding-top: 6em;
  }
}
/*******************************************************************************
 * _components.scss
 *
 * Imports more partials that contain full components (modules in SMACSS), their
 * sub-components and modifiers.
 *
 * Components are discrete parts of your page that should sit within the regions
 * of your layouts. You should try to abstract your components as much as
 * possible to promote reuse throughout the theme. Components should be flexible
 * enough to respond to any width and should never rely on context
 * (e.g. .sidebar-first .component) for styling. This allows modules to be
 * placed throughout the theme with no risk of them breaking.
 *
 * If you find you need to change the look of a component depending on it's
 * context you should avoid using context based classes at all costs. Instead it
 * is better to add another "modifier" class to the component to alter the
 * styling. Again, this promotes reuse.
 *
 * Sub-components are the individual parts that make up a component. As a
 * general rule, adding a class to target a sub-component is a much better
 * option than using descendant selectors or element selectors. In many cases
 * sub-components can be made more reusable by making them components in their
 * own right, so they can then be used within other components.
 *
 * Almost everything that doesn't belong in base should be made a component.
 * Here's some common examples throughout Drupal:
 *
 * - Blocks
 * - Content Types - For example, you may have a generic node component that
 *      contains sub-components for the submitted by line and links. Specific
 *      components can then be created for each content type to style the
 *      specifics of each. Finally, by using entity view modes you can easily
 *      apply modifications based on the .node-[view-mode] classes.
 * - Forms - For instance the log in form.
 * - Views - Each views output style could be made into a component, the content
 *       of each row should be provided my a view mode styled by it's component
 *       CSS. Exposed filter forms, views pagers and other views elements are
 *       also good candidates for components.
 ******************************************************************************/
/******************************************
	Main theming
*******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000343}}
.l-main {
  background: url("../images/bg-main.gif");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000346}}
.l-region--navigation {
  background: white;
  border-bottom: 1px solid #e8e6e6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000350}}
.l-footer {
  color: #474646;
  text-align: center;
}

/******************************************
	Header
*******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000357}}
.l-header-wrapper {
  background: #063c29;
  border-bottom: 3px solid #90bb40;
  color: white;
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000362}}
.l-header-wrapper a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000365}}
.l-header-wrapper .phone {
  color: #90bb40;
  font: 18px/21px HelveticaNeueLight, Arial, Helvetica, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000368}}
.l-header-wrapper .phone span {
  color: white;
}

/********************************************
	Menu
*********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000376}}
ul.menu {
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000381}}
.menu .leaf {
  list-style: none outside;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000383}}
.menu .leaf a {
  font: 14px/17px Arial, Helvetica, sans-serif;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000386}}
.menu .leaf a:hover {
  color: #90bb40;
}

/********************************************
	Homepage
*********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000395}}
#block-boxes-hp-image {
  max-width: 920px;
  margin: 0 auto;
  padding-top: 0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000399}}
#block-boxes-hp-image .boxes-box-controls {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.30-1\.3-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003102}}
#block-boxes-hp-image img {
  display: block;
}
