/*******************************************************************************
 * style.scss
 *
 * This file shouldn't directly contain any SCSS code, instead it only serves to
 * combine the SCSS contained in other Sass partials through @import directives.
 *
 * BASE............Styling for common HTML and Drupal elements.
 * LAYOUT..........Styles for the page structure that contain components.
 * COMPONENTS......Components, their modifiers and sub-components.
 ******************************************************************************/
/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/spr\/\*\.png}line{font-family:\0000366}}
.spr-sprite, .tab-inactive #block-system-main-menu .menu-icon.close, .tab-inactive #block-system-main-menu .menu-icon.open, #block-boxes-social-links a.ico-linkedin, #block-boxes-social-links a.ico-linkedin:hover {
  background: url('../images/generated/spr-seb9408fe6d.png') no-repeat;
}

/*******************
	Define Colours
********************/
/*******************
	Define Fonts
********************/
/* font-face */
@font-face {
  font-family: 'apexnewbookwebfont';
  src: url("../fonts/apexnewbookwebfont.eot");
  src: url("../fonts/apexnewbookwebfont.woff") format("woff"), url("../fonts/apexnewbookwebfont.ttf") format("truetype");
}

/*******************************************************************************
 * _base.scss

 * Base styles define the default look for HTML and common Drupal elements.
 *
 * These rules will generally be made up of element selectors for HTML elements
 * such as headings, paragraphs and lists. Common Drupal elements such as form
 * items, collapsible fieldsets and messages should be included in this partial.
 *
 * The styleguide module (http://drupal.org/project/styleguide) gives you a good
 * overview of Drupals common elements for styling. By setting a solid baseline
 * before adding any more specific customisations you ensure that as any new
 * features are added they will be correctly styled without any extra work.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000315}}
body {
  padding: 0;
  margin: 0;
  color: #525252;
  font: 1em "apexnewbookwebfont", Arial, Helvetica, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000321}}
p {
  line-height: 1.7em;
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000325}}
h1 {
  margin-top: 0;
  padding-top: 0.5em;
  font-size: 3em;
  font-weight: normal;
  color: #8cba2f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000332}}
h2 {
  font-size: 1.6em;
  font-weight: normal;
  color: #414141;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000337}}
h3 {
  font-size: 1.4em;
  font-weight: normal;
  color: #414141;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000342}}
a {
  color: #8cba2f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000345}}
p a {
  text-decoration: none;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000348}}
p a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000352}}
li {
  padding: 0.3em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000355}}
.links--inline li {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_base\.scss}line{font-family:\0000358}}
a img {
  border: none;
}

/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
/******************************************
	Header & Menu
*******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000312}}
.l-header-wrapper {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000314}}
.l-header-wrapper li {
  padding: 0.5em 0;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000318}}
.l-header-wrapper .l-branding {
  padding-bottom: 0.5em;
}

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000323}}
  .l-header-wrapper {
    text-align: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000325}}
  .l-header-wrapper li {
    display: inline-block;
    padding: 0.2em 2em 0 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000333}}
  .l-region--header .menu .expanded ul.menu, .l-region--header .menu .collapsed ul.menu {
    position: absolute;
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000347}}
  .section-about-us .l-region--header .menu .expanded ul.menu, .section-about-us .l-region--header .menu .collapsed ul.menu {
    display: block;
    top: 220px;
    background: #8cba2f;
    padding: 0.3em 1em;
    width: 100%;
    left: 0;
    z-index: 10;
    text-align: center;
  }
}
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000364}}
  .l-header-wrapper li {
    padding: 0 0 0 2em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000368}}
  .l-region--header {
    padding-top: 1em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000371}}
  .l-header {
    margin-top: 1.1em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000374}}
  .l-header .menu a {
    padding-bottom: 0.7em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000376}}
  .l-header .menu a:hover {
    border-bottom: 2px solid white;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000380}}
  .l-header .menu .expanded {
    position: relative;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000382}}
  .l-header .menu .expanded ul.menu {
    opacity: 0;
    padding: 1em 0.5em 1em 0;
    top: 3.4em;
    left: 0;
    background: #373737;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    width: 125px;
    z-index: 1000;
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000392}}
  .l-header .menu .expanded ul.menu li {
    display: block;
    padding: 0.2em 0 0.2em 1.2em;
    text-align: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\0000396}}
  .l-header .menu .expanded ul.menu li a:hover {
    border: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003102}}
  .l-header .menu .expanded:hover ul.menu {
    opacity: 1;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003113}}
  .section-about-us .l-region--header .menu .expanded ul.menu {
    opacity: 0;
    padding: 1em 0.5em 1em 0;
    top: 3.4em;
    left: 0;
    background: #373737;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    width: 125px;
    z-index: 1000;
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003123}}
  .section-about-us .l-region--header .menu .expanded ul.menu li {
    display: block;
    padding: 0.2em 0 0.2em 1.2em;
    text-align: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003127}}
  .section-about-us .l-region--header .menu .expanded ul.menu li a:hover {
    border: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003133}}
  .section-about-us .l-region--header .menu .expanded:hover ul.menu {
    opacity: 1;
  }
}
/* Fix menu to the top */
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003145}}
  .not-logged-in .l-header-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003152}}
  .not-logged-in .l-main {
    padding-top: 6em;
  }
}
/* Responsive Menu */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003159}}
.tab-inactive .l-header-wrapper .request {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003162}}
.tab-inactive #block-system-main-menu {
  background: #90bb40;
  padding: 0.5em 0;
  font-size: 1.2em;
  margin-top: 0.4em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003168}}
.tab-inactive #block-system-main-menu .menu-icon {
  width: 95%;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003171}}
.tab-inactive #block-system-main-menu .menu-icon.close {
  background-position: 0 -22px;
  height: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003175}}
.tab-inactive #block-system-main-menu .menu-icon.open {
  background-position: 0 0;
  height: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003182}}
.tab-inactive #block-system-main-menu .expanded .menu li {
  padding: 0.4em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003185}}
.tab-inactive #block-system-main-menu .expanded .menu a {
  font-size: 0.8em;
}

/******************************************
	Footer
*******************************************/
@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003196}}
  .l-region--footer {
    text-align: center;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003198}}
  .l-region--footer #block-boxes-quick-links, .l-region--footer #block-views-news-blog-block-1, .l-region--footer #block-boxes-social-links {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 20%;
    padding-right: 3em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003205}}
  .l-region--footer #block-views-news-blog-block-1 {
    width: 30%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003209}}
  .l-region--footer #block-boxes-social-links {
    padding: 0;
  }
}
/********************************************
	Pages
*********************************************/
/* Contact */
@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003221}}
  .node-type-webform .field--name-body {
    width: 46%;
    float: left;
    padding-right: 2.6em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003226}}
  .node-type-webform .webform-client-form {
    width: 43%;
    float: left;
  }
}
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003234}}
  .node-type-webform .field--name-body {
    padding-right: 3.195em;
    width: 50%;
  }
}
/* Team Pages */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003241}}
.view-team-members {
  width: 100% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003243}}
.view-team-members .views-row {
  width: 100%;
}

@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003248}}
  .view-team-members {
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003250}}
  .view-team-members .views-row {
    width: 47%;
    display: inline-block;
    vertical-align: top;
  }
}
/********************************************
	Homepage
*********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003261}}
.front .hp-highlight {
  position: absolute;
  top: 8px;
  left: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003265}}
.front .hp-highlight h1 {
  font-size: 1.3em;
}

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003272}}
  .front .hp-highlight {
    top: 15px;
    left: 30px;
    width: 50%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003276}}
  .front .hp-highlight h1 {
    font-size: 3em;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003281}}
  .front .l-content .field-group-div {
    margin: 0 0.1em;
    height: 515px;
    width: 24.2%;
    display: inline-block;
    vertical-align: top;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003287}}
  .front .l-content .field-group-div .field--type-text-long {
    height: 335px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003290}}
  .front .l-content .field-group-div h2 {
    height: 44px;
  }
}
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003299}}
  .front .hp-highlight {
    top: 90px;
    left: 46px;
    width: 40%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003305}}
  .front .l-content .field-group-div {
    width: 24.4%;
    height: 390px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003308}}
  .front .l-content .field-group-div .field--type-text-long {
    height: 177px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_layout\.scss}line{font-family:\00003311}}
  .front .l-content .field-group-div h2 {
    height: auto;
  }
}
/*******************************************************************************
 * _components.scss
 *
 * Imports more partials that contain full components (modules in SMACSS), their
 * sub-components and modifiers.
 *
 * Components are discrete parts of your page that should sit within the regions
 * of your layouts. You should try to abstract your components as much as
 * possible to promote reuse throughout the theme. Components should be flexible
 * enough to respond to any width and should never rely on context
 * (e.g. .sidebar-first .component) for styling. This allows modules to be
 * placed throughout the theme with no risk of them breaking.
 *
 * If you find you need to change the look of a component depending on it's
 * context you should avoid using context based classes at all costs. Instead it
 * is better to add another "modifier" class to the component to alter the
 * styling. Again, this promotes reuse.
 *
 * Sub-components are the individual parts that make up a component. As a
 * general rule, adding a class to target a sub-component is a much better
 * option than using descendant selectors or element selectors. In many cases
 * sub-components can be made more reusable by making them components in their
 * own right, so they can then be used within other components.
 *
 * Almost everything that doesn't belong in base should be made a component.
 * Here's some common examples throughout Drupal:
 *
 * - Blocks
 * - Content Types - For example, you may have a generic node component that
 *      contains sub-components for the submitted by line and links. Specific
 *      components can then be created for each content type to style the
 *      specifics of each. Finally, by using entity view modes you can easily
 *      apply modifications based on the .node-[view-mode] classes.
 * - Forms - For instance the log in form.
 * - Views - Each views output style could be made into a component, the content
 *       of each row should be provided my a view mode styled by it's component
 *       CSS. Exposed filter forms, views pagers and other views elements are
 *       also good candidates for components.
 ******************************************************************************/
/******************************************
	Main theming
*******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000343}}
.l-content {
  margin-bottom: 0 !important;
}

/******************************************
	Header
*******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000349}}
.l-header-wrapper {
  background: #8cba2f;
  color: white;
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000353}}
.l-header-wrapper a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000356}}
.l-header-wrapper .phone, .l-header-wrapper .request {
  color: #90bb40;
  font: 18px/21px "apexnewbookwebfont", Arial, Helvetica, sans-serif;
  padding-bottom: 0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000360}}
.l-header-wrapper .phone span, .l-header-wrapper .request span {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000364}}
.l-header-wrapper .request {
  background: #90bb40;
  color: #2fa13d;
  display: inline-block;
  padding: 0.3em 1em;
  margin-bottom: 0.6em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000372}}
.l-header-wrapper .request:hover {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000376}}
.l-header-wrapper #block-boxes-phone-number {
  margin-bottom: 1em;
}

/******************************************
	Footer
*******************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000383}}
.l-footer {
  background: #4a4545;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000386}}
.l-region--footer-base {
  background: #373737;
  color: white;
  padding: 1.2em 0 1em;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000392}}
.l-region--footer {
  padding-top: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000394}}
.l-region--footer h2 {
  color: #90bb40;
  font-size: 1.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\0000398}}
.l-region--footer ul {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003101}}
.l-region--footer li {
  list-style: none outside;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003103}}
.l-region--footer li a {
  text-decoration: none;
  color: #a3a3a3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003106}}
.l-region--footer li a:hover {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003116}}
#block-boxes-social-links li {
  background: none;
  padding-bottom: 0.7em;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003121}}
#block-boxes-social-links a {
  padding: 0.1em 0 0.1em 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003124}}
#block-boxes-social-links a.ico-tweet {
  background-position: 0 0;
  padding-top: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003127}}
#block-boxes-social-links a.ico-tweet:hover {
  background-position: 0 -128px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003131}}
#block-boxes-social-links a.ico-fb {
  background-position: -596px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003133}}
#block-boxes-social-links a.ico-fb:hover {
  background-position: -596px -123px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003137}}
#block-boxes-social-links a.ico-linkedin {
  background-position: 0 -44px;
  height: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003140}}
#block-boxes-social-links a.ico-linkedin:hover {
  background-position: 0 -70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003150}}
#block-boxes-social-links a.ico-gplus {
  background-position: -1496px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003152}}
#block-boxes-social-links a.ico-gplus:hover {
  background-position: -1496px -122px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003158}}
.footer-header {
  background: #90bb40;
  text-align: center;
  font: 1.5em "apexnewbookwebfont", Arial, Helvetica, sans-serif;
  padding: 0.3em 0 0.5em;
  color: #2fa13d;
}

/********************************************
	Menu
*********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003168}}
ul.menu {
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003173}}
.menu li {
  list-style: none outside;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003175}}
.menu li a {
  text-decoration: none;
  font-size: 0.9em;
}

/********************************************
	Forms
*********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003185}}
.webform-client-form {
  background: #f3f3e6;
  padding: 2em 0 1.8em 2em;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003192}}
input[type=text], .form-textarea-wrapper textarea,
input[type=email],
input[type=password] {
  margin: 0.3em;
  width: 90%;
  padding: 0.5em 0.3em;
  background-color: white;
  border: 1px inset #d7d7d7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003199}}
.form-textarea-wrapper textarea {
  width: 91%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003203}}
.webform-component-textarea .grippie {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003206}}
input[type=submit] {
  background: #8cba2f;
  border: none;
  color: white;
  padding: 0.6em 1.2em;
  float: right;
  margin-right: 3.2em;
  font-size: 0.9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003214}}
input[type=submit]:hover {
  cursor: pointer;
  background: #2fa13d;
}

/********************************************
	Homepage
*********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003222}}
.hp-image-container {
  max-width: 1560px;
  margin: 0 auto;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003229}}
.front .hp-highlight h1 {
  margin-bottom: 0.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003232}}
.front .hp-highlight .hp-highlight-text {
  color: white;
  font-size: 1.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003237}}
.front .l-content {
  padding-top: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003239}}
.front .l-content h1 {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003242}}
.front .l-content .field-group-div {
  margin-bottom: 1em;
  box-shadow: #d7d7d7 0 0 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003245}}
.front .l-content .field-group-div img {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003248}}
.front .l-content .field-group-div h2 {
  background: #525252;
  color: white;
  font-size: 1.05em;
  padding: 0.4em 1em;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003255}}
.front .l-content .field-group-div a {
  color: #525252;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003259}}
.front .l-content .field-group-div .field-group-txt {
  margin-top: -0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003262}}
.front .l-content .field-group-div .field--type-text-long {
  padding: 0.5em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003265}}
.front .l-content .field-group-div .field--type-link-field {
  padding-left: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003267}}
.front .l-content .field-group-div .field--type-link-field a {
  color: #8cba2f;
  text-decoration: underline;
}

/********************************************
	Team Members
*********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003278}}
.contacts-box {
  position: relative;
  padding: 0 0 1.5em;
  border-top: 1px solid #90bb40;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003282}}
.contacts-box:after {
  content: '';
  top: -1px;
  left: 7em;
  position: absolute;
  width: 17px;
  height: 10px;
  background: url(../images/arrow6.gif) no-repeat -71px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003293}}
.view-team-members .views-row {
  box-shadow: #d7d7d7 0 -0.3em 0.7em;
  margin: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003296}}
.view-team-members .views-row .field--name-field-team-profile-pic {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003299}}
.view-team-members .views-row .views-field-title {
  font-weight: bold;
  font-size: 1.1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003303}}
.view-team-members .views-row .views-field-field-team-job-title {
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003306}}
.view-team-members .views-row .field--name-field-team-phone-no {
  padding-top: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003309}}
.view-team-members .views-row .views-field-field-team-email-label {
  padding-top: 0.5em;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003312}}
.view-team-members .views-row .views-field-field-team-email-label a {
  position: relative;
  padding: 0 0 0 2em;
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003316}}
.view-team-members .views-row .views-field-field-team-email-label a:before {
  background: url(../images/envelope.png);
  content: '';
  position: absolute;
  height: 17px;
  width: 25px;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003326}}
.view-team-members .views-row .team-details {
  padding: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003330}}
.view-team-members .views-row .views-field-field-team-bio.open {
  clear: both;
  background: #8cba2f;
  border-top: 2px inset #f6fbed;
  border-bottom: 2.5em solid #4a4545;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  top: -0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003339}}
.view-team-members .views-row .views-field-field-team-bio.open:after {
  content: '';
  background: url(../images/more-close.png);
  height: 28px;
  width: 28px;
  position: absolute;
  bottom: -33px;
  right: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003349}}
.view-team-members .views-row .views-field-field-team-bio.close {
  border-bottom: 2.5em solid #4a4545;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003352}}
.view-team-members .views-row .views-field-field-team-bio.close .field-content {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003355}}
.view-team-members .views-row .views-field-field-team-bio.close:after {
  content: '';
  background: url(../images/more.png);
  height: 27px;
  width: 27px;
  position: absolute;
  bottom: -33px;
  right: 8px;
}

/********************************************
	Page
*********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003373}}
.node--page .field-label {
  font: 2.4em "apexnewbookwebfont", Arial, Helvetica, sans-serif;
  color: #90bb40;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003377}}
.node--page .field--name-field-page-heading {
  font: 2.2em "apexnewbookwebfont", Arial, Helvetica, sans-serif;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003381}}
.node--page .highlight {
  background-color: rgba(144, 187, 64, 0.4);
  padding: 0.4em 0.6em;
  margin-top: -9.5em;
  position: absolute;
  max-width: 893px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003388}}
.node--page .field--name-field-page-highlight, .node--page .field--name-field-page-highlight-2 {
  font: 1.8em "apexnewbookwebfont", Arial, Helvetica, sans-serif;
  color: #90bb40;
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003398}}
.section-about-us .l-region--navigation {
  background: url("../images/bg-page.gif");
  padding: 1em;
}

/* About Us Menu */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003405}}
.block--menu-menu-about-us ul.menu {
  text-align: center;
  padding-top: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003408}}
.block--menu-menu-about-us ul.menu .leaf {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003411}}
.block--menu-menu-about-us ul.menu a {
  color: #d7d7d7;
  padding: 0.5em 0.6em;
  font-size: 0.9em;
}

/********************************************
	News & Blog
*********************************************/
/*	Blogs View   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003427}}
.view-news-blog.view-display-id-page .views-row {
  margin: 2em 0 3em;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003431}}
.view-news-blog.view-display-id-page .views-row.views-row-1 {
  margin: 0 0 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003435}}
.view-news-blog.view-display-id-page .top {
  clear: both;
  margin-bottom: 2em;
  position: relative;
  border-bottom: 1px solid #8cba2f;
  padding-bottom: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003441}}
.view-news-blog.view-display-id-page .top:after {
  content: '';
  bottom: -9px;
  left: 14em;
  position: absolute;
  width: 17px;
  height: 10px;
  background: url(../images/arrow6.gif) no-repeat -71px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003452}}
.view-news-blog.view-display-id-page .views-field-title h2 {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003454}}
.view-news-blog.view-display-id-page .views-field-title h2 a {
  color: #525252;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003460}}
.view-news-blog.view-display-id-page .views-field-created {
  background: #8cba2f;
  color: white;
  font-size: 2em;
  width: 30px;
  text-align: center;
  padding: 0.3em 0.3em 0.1em;
  line-height: 0.7em;
  float: left;
  margin-right: 0.5em;
  font-size: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003471}}
.view-news-blog.view-display-id-page .views-field-created .sm {
  font-size: 0.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003475}}
.view-news-blog.view-display-id-page .views-field-name {
  color: #525252;
  float: left;
  font-size: 0.9em;
  border-right: 1px solid #525252;
  padding-right: 0.5em;
  margin-right: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003482}}
.view-news-blog.view-display-id-page .views-field-name a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003486}}
.view-news-blog.view-display-id-page .views-field-field-blog-featured-image {
  float: left;
  padding: 0.3em 0.3em 0;
  border: 1px solid #d7d7d7;
  margin-right: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003492}}
.view-news-blog.view-display-id-page .views-field-view-node {
  float: right;
  margin-top: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003495}}
.view-news-blog.view-display-id-page .views-field-view-node a {
  background: #8cba2f;
  color: white;
  text-decoration: none;
  padding: 0.5em 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003500}}
.view-news-blog.view-display-id-page .views-field-view-node a:hover {
  background: #2fa13d;
}

/********************************************
	IE Fixes
*********************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003510}}
.lt-ie9 .l-branding {
  width: 150px;
  float: left;
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003515}}
.lt-ie9 .l-header {
  background: #8cba2f;
  padding: 1em 1em 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003519}}
.lt-ie9 ul.menu {
  padding-top: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003521}}
.lt-ie9 ul.menu li {
  float: left !important;
  list-style: none !important;
  padding: 0 0 0 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003525}}
.lt-ie9 ul.menu li a {
  font-size: 12px;
  color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003530}}
.lt-ie9 ul.menu .expanded .menu {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003535}}
.lt-ie9 .front .field-group-div {
  width: 281px;
  float: left;
  margin: 0 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4820488215\/static\/spirelight-drupal-7\.34-1\.6-d\.001\/profiles\/greenparkint\/themes\/greenparkint\/sass\/_components\.scss}line{font-family:\00003542}}
.lt-ie9 .l-region--footer .block {
  width: 250px;
  float: left;
  margin: 0 3em 1em;
}
