/*******************************************************************************
 * _components.scss
 *
 * Imports more partials that contain full components (modules in SMACSS), their
 * sub-components and modifiers.
 *
 * Components are discrete parts of your page that should sit within the regions
 * of your layouts. You should try to abstract your components as much as
 * possible to promote reuse throughout the theme. Components should be flexible
 * enough to respond to any width and should never rely on context
 * (e.g. .sidebar-first .component) for styling. This allows modules to be
 * placed throughout the theme with no risk of them breaking.
 *
 * If you find you need to change the look of a component depending on it's
 * context you should avoid using context based classes at all costs. Instead it
 * is better to add another "modifier" class to the component to alter the
 * styling. Again, this promotes reuse.
 *
 * Sub-components are the individual parts that make up a component. As a
 * general rule, adding a class to target a sub-component is a much better
 * option than using descendant selectors or element selectors. In many cases
 * sub-components can be made more reusable by making them components in their
 * own right, so they can then be used within other components.
 *
 * Almost everything that doesn't belong in base should be made a component.
 * Here's some common examples throughout Drupal:
 *
 * - Blocks
 * - Content Types - For example, you may have a generic node component that
 *      contains sub-components for the submitted by line and links. Specific
 *      components can then be created for each content type to style the
 *      specifics of each. Finally, by using entity view modes you can easily
 *      apply modifications based on the .node-[view-mode] classes.
 * - Forms - For instance the log in form.
 * - Views - Each views output style could be made into a component, the content
 *       of each row should be provided my a view mode styled by it's component
 *       CSS. Exposed filter forms, views pagers and other views elements are
 *       also good candidates for components.
 ******************************************************************************/
/******************************************
	Main theming
*******************************************/
.l-main {
	background: url('../images/bg-main.gif');
}
.l-content {
	margin-bottom: 0!important;
}	
.l-region--navigation {
	background: $white;
	border-bottom: 1px solid $light-grey;
}
/******************************************
	Header
*******************************************/
.l-header-wrapper {
	background: $dark-green;
	border-bottom: 3px solid $light-green;
	color: $white;
	padding-top: 0.5em;
	a {
		color: $white;
	}
	.phone {
		color: $light-green;
		font: 18px/21px $body-font-light;
		padding-bottom: 0.3em;
		span {
			color: $white;
		}
	}
	.request {
		@extend .phone;
		background: $light-green;
		color: $dark-green;
		display: inline-block;
		padding: 0.3em 1em;
		margin-bottom: 0.6em;
		@include border-radius(5px);
		&:hover {
			color: $white;
		}
	}
	#block-boxes-phone-number {
		margin-bottom: 1em;
	}
}
/******************************************
	Footer
*******************************************/
.l-footer {
	border-top: 2px solid $light-green;
	color: $dark-grey;
	font-size: 0.9em;
}
.l-region--footer-base {
	color: $dark-grey;
	text-align: center;
}
.l-footer-inner {
	background: url(../images/bg-footer-t.gif) 50% 0;
}
.l-region--footer {
	padding-top: 2em;
	h2 {
		color: $light-green;
	}
	ul {
		padding: 0;
	}
	li {
		border-top: 1px solid darken($dark-grey, 20%);
		background: url(../images/bullet.gif) no-repeat 4px 50%;
		list-style: none outside;
		padding: 5px 0 3px 17px;
	}	
	li.first {
		border: none;
	}
	a {
		color: $dark-grey;
		text-decoration: none;
		&:hover {
			color: $light-grey;
		}
	}
	.views-row {
		border-top: 1px solid darken($dark-grey, 20%);
	}
	.views-row-1 {
		border: none;
	}
}
#block-views-news-blog-block-1 {
	h4 {
		margin-bottom: 0;
	}
}
#block-boxes-social-links {
	li {
		background: none;
		padding: 1em 0 1em 0.8em;
		vertical-align: top;
	}
	a {
		font-size: 1.1em;
		min-height: 17px;
		padding: 0.5em 0 0.5em 3em;
		background: url(../images/ico-social.png) no-repeat -9999px -9999px;
		&.ico-tweet {
			background-position: 0 0;
			padding-top: 2px;
			&:hover {
				background-position: 0 -128px;
			}
		}
		&.ico-fb {
			background-position: -596px 0;
			&:hover {
				background-position: -596px -123px;
			}
		}
		&.ico-linkedin {
			background-position: -296px 0;
			&:hover {
				background-position: -296px -123px;
			}
		}
		&.ico-youtube {
			background-position: -897px 0;
			&:hover {
				background-position: -897px -122px;
			}
		}
		&.ico-gplus {
			background-position: -1496px 0;
			&:hover {
				background-position: -1496px -122px;
			}
		}
	}
}
.footer-header {
	background: $light-green;
	text-align: center;
	font: 1.5em $header-font;
	padding: 0.3em 0 0.5em;
	color: $dark-green;
}
/********************************************
	Menu
*********************************************/
ul.menu {
	padding: 0;
	margin: 0;
}
.menu {
	li {
		list-style: none outside;
		a {
			font: $menu-items;
			text-decoration: none;
			&:hover {
				color: $light-green;
			}
		}
	}
}

/********************************************
	Forms
*********************************************/
input[type=text], 
input[type="email"],
input[type="password"]{
	border: 1px solid $light-grey;
	margin: 0.3em;
	padding: 0.6em;
	@include border-radius(5px);
	color: $dark-grey;
	width: 90%;
}
.form-textarea-wrapper textarea {
	@extend input[type=text];
	width: 90%;
}
.grippie {
	display: none;
}
input[type=submit] {
	background: $light-green;
	border: none;
	font: 1em $body-font;
	@include border-radius(5px);
	padding: 0.4em 1em;
	&:hover {
		color: $white;
		cursor: pointer;
	}
}
/********************************************
	Homepage
*********************************************/
#block-boxes-hp-image {
	max-width: 920px;
	margin: 0 auto;
	padding-top: 0.3em;
	.boxes-box-controls {
		display: none;
	}
	img {
		display: block;
	}
}
.front .l-content {
	padding-top: 2em;
	h1 {
		display: none;
	}
	h2 {
		border-bottom: 1px solid darken($light-grey, 20%);
		color: $dark-green;
		font-size: 1.3em;
		padding-bottom: 0.3em;
		height: 45px;
	}
	.node__content {
		position: relative;
		z-index: 20;
		text-align: center;
	}
	.field-group-div {
		background: $white;
		margin-bottom: 1em;
		height: auto;
		width: 212px;
		position: relative;
		display: inline-block;
		text-align: left;
		vertical-align: top;
		&:before {
			content: "";
			position: absolute;
			z-index: -2;
			top: 50%;
			bottom: 0px;
			left: 6%;
			right: 6%;
			-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
			-moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
			-moz-border-radius: 100px/10px;
			border-radius: 100px/10px;
		}
		&:hover {
			background: $alt-bg;
		}
		a {
			text-decoration: none;
		}
		.field-group-txt {
			padding: 0.8em 4% 0.8em 6%;
		}
		.field--type-text-long {
			font-size: 0.9em;
			line-height: 1.7em;
			color: $dark-green;
			overflow: hidden;
			height: 200px;
		}
		.field--type-link-field {
			font-size: 0.9em;
			padding: 1em 0;
		}
	}
}
.front {
	@extend .node--page;
	.highlight {
		margin-top: -15.5em!important;
		max-width: 904px!important;
	}
	.field-label {
		color: $white!important;
	}
	.field--name-field-page-body {
		text-align: left;
	}
}
/********************************************
	Team Members
*********************************************/
.contacts-box {
	position: relative;
	padding: 0 0 1.5em;
	border-top: 1px solid $light-green;
	&:after {
		content: '';
		top: -1px;
		left: 7em;
		position: absolute;
		width: 17px;
		height: 10px;
		background: url(../images/arrow6.gif) no-repeat -71px 0;
	}
}
.view-team-members {
	.views-row {
		background: $white url(../images/bg-box.gif) repeat-x 0 100%;
		box-shadow: 2px 3px 12px rgba(184, 184, 184, 0.75);
		-webkit-box-shadow: 2px 3px 12px; 
		padding: 5px 5px 14px 11px;
		color: $text-color;
		margin-bottom: 1em;
		&:hover {
			background-color: $lightest-green;
		}
		.field--name-field-team-profile-pic {
			float: right;
			padding: 0.5em;
		}
		h4 {
			font-weight: normal;
			margin: 0;
			padding-top: 0.5em;
		}
		.field--name-field-team-phone-no {
			color: $dark-grey;
			padding-top: 0.5em;
		}
		.views-field-field-team-email-label {
			padding-top: 0.5em;
			text-decoration: none;
			a {
				background: url(../images/ico-sprite.gif) no-repeat -132px -24px;
				padding: 0 0 0 1.6em;
				text-decoration: none;
				&:hover {
					color: $light-green;
					text-decoration: underline;
				}
			}
		}
		.field--name-field-team-bio {
			padding: 0.6em 0;
		}
	}
}

/********************************************
	Page
*********************************************/
.node--page {
	.field-label {
		font: 2.4em $highlight-font;
		color: $light-green;
	}
	.field--name-field-page-heading {
		font: 2.2em $highlight-font;
		color: $white;
	}
	.highlight {
		background-color: rgba($light-green, 0.4);
		padding: 0.4em 0.6em;
		margin-top: -9.5em;
		position: absolute;
		max-width: 893px;
	}
	.field--name-field-page-highlight {
		font: 1.8em $highlight-font;
		color: $light-green;
		margin: 1em 0;
	}
	.field--name-field-page-highlight-2 {
		@extend .field--name-field-page-highlight;
	}
}
.section-about-us {
	.l-region--navigation {
		background: url("../images/bg-page.gif");
		padding: 1em;
	}
}
/* About Us Menu */
.block--menu-menu-about-us {
	ul.menu {
		text-align: center;
		padding-top: 1em;
		.leaf {
			display: inline-block;
		}
		a {
			color: $light-grey;
			padding: 0.5em 0.6em;
			font-size: 0.9em;
			&:hover {
				
			}
		}
	}
}
/********************************************
	News & Blog
*********************************************/
/*	Blogs View   */

.view-news-blog.view-display-id-page {
	.views-row {
		margin: 2em 0 3em;
		border-bottom: 1px solid $light-grey;
		padding-bottom: 6em;
		&.views-row-1 {
			margin: 0 0 3em;
		}
	}
	.top {
		clear: both;
		margin-bottom: 2em;
		position: relative;
		border-bottom: 1px solid $light-green;
		padding-bottom: 1em;
		&:after {
			content: '';
			bottom: -9px;
			left: 14em;
			position: absolute;
			width: 17px;
			height: 10px;
			background: url(../images/arrow6.gif) no-repeat -71px 0;
		}
	}
	.views-field-title {
		h2 {
			font-family: $header-font;
			margin: 0;
			a {
				color: $text-color;
				text-decoration: none;
			}
		}
	}
	.views-field-created {
		background: $light-green;
		color: $white;
		font-size: 2em; 
		font-family: $header-font;
		width: 30px;
		text-align: center;
		padding: 0.2em 0.3em 0.1em;
		border-radius: 0.2em;
		line-height: 0.7em;
		float: left;
		margin-right: 0.5em;
		.sm {
			font-size: 0.6em;
		}
	}
	.views-field-name {
		color: $text-color;
		float: left;
		font-size: 0.9em;
		border-right: 1px solid $text-color;
		padding-right: 0.5em;
		margin-right: 0.5em;
		a {
			text-decoration: none;
		}
	}
	.views-field-field-blog-featured-image {
		float: left;
		padding: 0.3em 0.3em 0;
		border: 1px solid $light-grey;
		margin-right: 2em;
	}
	.views-field-view-node {
		float: right;
		margin-top: 1.5em;
		a {
			background: $light-green;
			color: $white;
			text-decoration: none;
			padding: 0.5em 0.7em;
			border-radius: 0.3em;
			&:hover {
				background: darken($light-green, 10%);
			}
		}
	}
}