/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
/******************************************
	Header & Menu
*******************************************/
.l-header-wrapper {
	text-align: center;
	.leaf {
		padding: 0.5em 0;
		text-align: center;
	}
}
@include at-breakpoint($tab) {
	.l-header-wrapper {
		text-align: left;
		.leaf {
			display: inline-block;
			padding: 0 0 0 1.4em;
		}
	}
	.l-region--header {
		text-align: right;
		.menu {
			text-align: right;
		}
	}
	.l-content {
		min-height: 480px;
		max-width: 920px!important;
	}
	.l-branding {
		padding-top: 0.8em;
	}
}
/* Fix menu to the top */
@include at-breakpoint($desk) {
	.not-logged-in {
		.l-header-wrapper {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
		}
		.l-main {
			padding-top: 6em;
		}
	}
}
/********************************************
	Pages
*********************************************/
/* Contact */
@include at-breakpoint($tab) {
	.node-type-webform {
		.field--name-body {
			width: 50%;
			float: left;
			padding-right: 2.6em;
		}
		.webform-client-form {
			width: 45%;
			float: left;
		}
	}
}
@include at-breakpoint($desk) {
	.node-type-webform {
		.field--name-body {
			padding-right: 3.195em;
		}
	}
}