/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/
/******************************************
	Header & Menu
*******************************************/
.l-header-wrapper {
	text-align: center;
	.leaf {
		padding: 0.5em 0;
		text-align: center;
	}
	.l-branding {
		padding-bottom: 0.5em;
	}
}
@include at-breakpoint($tab) {
	.l-header-wrapper {
		text-align: left;
		.leaf {
			display: inline-block;
			padding: 0 0 0 1.4em;
		}
	}
	.l-region--header {
		text-align: right;
		.menu {
			text-align: right;
		}
	}
	.l-content {
		min-height: 480px;
		max-width: 920px!important;
	}
	.l-branding {
		padding-top: 0.8em;
	}
}
/* Fix menu to the top */
@include at-breakpoint($desk) {
	.not-logged-in {
		.l-header-wrapper {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
		}
		.l-main {
			padding-top: 7.35em;
		}
	}
}
/* Responsive Menu */
.tab-inactive {
	.l-header-wrapper .request {
		display: none;
	}
	#block-system-main-menu {
		background: $light-green;
		padding: 0.5em 0;
		font-size: 1.2em;
		margin-top: 0.4em;
		@include border-radius(5px);
		color: $dark-green;
		a {
			color: $dark-green;
		}
		.menu-icon {
			width: 95%;
			margin: 0 auto;
			&.close {
				@include spr-sprite("menu");
				height: 22px;
			}
			&.open {
				@include spr-sprite("menu-close");
				height: 22px;
			}
		}
	}	
}
/******************************************
	Footer
*******************************************/
@include at-breakpoint($tab) {
	.l-region--footer {
		text-align: center;
		#block-boxes-quick-links {
			display: inline-block;
			text-align: left;
			vertical-align: top;
			width: 17%;
			padding-right: 3em;
		}
		#block-views-latest-news-block {
			@extend #block-boxes-quick-links;
			width: 30%;
		}
		#block-boxes-social-links {
			@extend #block-boxes-quick-links;
			padding: 0;
		}
	}
}
/********************************************
	Pages
*********************************************/
/* Contact */
@include at-breakpoint($tab) {
	.node-type-webform {
		.field--name-body {
			width: 50%;
			float: left;
			padding-right: 2.6em;
		}
		.webform-client-form {
			width: 45%;
			float: left;
		}
	}
}
@include at-breakpoint($desk) {
	.node-type-webform {
		.field--name-body {
			padding-right: 3.195em;
		}
	}
}