/*******************************************************************************
 * _utils.scss
 *
 * Sass offers come very useful features, these include variables functions and
 * mixins. Extensions such as Compass and Susy can also be used to provide extra
 * functions and mixins to be used throughout the theme. This file acts as a
 * single place for defining these things, which can then be accessed by
 * importing _utils.scss where required. The following should be defined in this
 * file:
 * - Custom Sass mixins for the theme.
 * - Custom Sass functions for the theme.
 * - Overriding the default variables provided by extensions such as Compass.
 * - Defining new variables for:
 *      - Colors.
 *      - Font sizes and families.
 *      - Layout and grid sizing.
 ******************************************************************************/
@import "compass";
@import "susy";
@import "spr/*.png";

$tab: 44em, 12;
$desk: 70em, 16;

/*******************
	Define Colours
********************/
$green: #8cba2f;
$text-color: #525252;
$light-grey: #D7D7D7;

// old
$dark-green: #063C29;
$light-green: #90BB40;
$lightest-green: #F1FCDC;
$white: #ffffff;
$header-color: #666;
$link-color: #76a326;
$hover-color: #0a3d29;
$dark-grey: #737373;
$alt-bg: #F2F4ED;

/*******************
	Define Fonts
********************/
$body-font: 'apexnewbookwebfont', Arial, Helvetica, sans-serif;
$body-font-light: HelveticaNeueLight,Arial, Helvetica, sans-serif;
$header-font: HelveticaNeueThinCondRegular, Arial, Helvetica, sans-serif;
$header-font-alt: HelveticaNeueRegular, Arial, Helvetica, sans-serif;
$homepage-header: HelveticaNeueCondensedRegular, Arial, Helvetica, sans-serif;
$menu-items: 14px/17px Arial, Helvetica, sans-serif;
$highlight-font: HelveticaNeueLightCondRegular, Arial, Helvetica, sans-serif;

/* font-face */
@font-face {
	font-family: 'apexnewbookwebfont';
	src:url('../fonts/apexnewbookwebfont.eot');
	src:url('../fonts/apexnewbookwebfont.woff') format('woff'), 
		url('../fonts/apexnewbookwebfont.ttf') format('truetype');
}
